
.dashboard-sidebar {
    box-shadow: 5px 1px 8px var(--shadowColor);
    position: fixed;
    width: 20%;
    min-height: 100vh;
    vertical-align: top;
    background-color: var(--fixWhite);
    border-left: 12px solid var(--fixBlue);

    ul {
        list-style: none;

        li {
            margin: 1rem 0;
            cursor: pointer;
            a {
                color: inherit;
                text-decoration: none;
            }
        }
        li:hover {
            color: var(--fixBlue);
            transform: scaleY(1.2);
            transition: 0.2s linear;
        }
    }
    #dashboard-settings:hover {
        color: var(--fixBlue);
        transform: scaleY(1.2);
        transition: 0.2s linear;
    }
}
.dashboard-content {
    min-height: 100vh;
    margin-left: 22%;
    width: auto;
    vertical-align: top;
    position: relative;
    z-index: 1;
    padding: 0 1rem;
    overflow: auto;
}

.nav {
    background-color: var(--fixWhite);
    text-align: right;
    height: 3rem;
    box-shadow: 8px 0 5px -2px #D7DBDD;
    ul {
        list-style: none;
        padding: 0.8rem;
    
        li {
            display: inline-block;
            margin-right: 0.4rem;
        }
    }
}
#dashboard-notification, #dashboard-dropdown {
    cursor: pointer;
}


.charts {
    position: relative;
    div {
        margin: 1rem;
        width: 40%;
        height: 200px;
        display: inline-block;
        box-shadow: 8px 0 5px -2px #D7DBDD;
        background-color: var(--fixWhite);
        border-radius: 3px;
    }
    h2 {
        margin: 2rem 0 0 4rem;
        text-align: left;
        color: orange;
    }
    p {
        font-size: 22px;
        padding: 0;
        margin: 0 0 0 4rem;
      }
}


