:root {
    --bgColor: #273746;
    --dashboardColor: #626567;
    --bgColorTwo: #F2F4F4;
    --fontFamily: 'Roboto', sans-serif;
}

#login-redirect{
    color: #111;
    padding: 0.5rem;
    background-color: #ABEBC6;
    border-radius: 8px;
}