:root {
    --bgColor: #273746;
    --textColor: #626567;
    --bgColorTwo: #F2F4F4;
    --fontFamily: 'Roboto', sans-serif;
    --fixBlue: #3272EA;
    --fixWhite: #FDFEFE;
    --shadowColor: #D7DBDD;
}

.login-redirect, .tryforfree {
    color: var(--fixWhite);
    padding: 0.8rem;
    background-color: var(--fixBlue);
    border-radius: 6px;
    border: none;
    font-size: 16px;
    width: 160px;
    cursor: pointer;
    text-decoration: none;
}
.tryforfree {
    margin-right: 8px;
}
