@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Roboto&display=swap');


#login-wrapper {
    top: 50%; 
    left: 50%; 
    position: absolute;
    display: block;
    width: 460px;
    height: 500px;
    margin-top: -250px; /* HALF OF THE HEIGHT */
    margin-left: -230px; /* HALF OF THE WIDTH */
    background-color: #FDFEFE;
    border-radius: 5px;
    color: var(--bgColor);
    h2 {
        text-align: center;
        margin: 4rem 0 2rem 0;
    } 
    a {
        text-decoration: none;
        color: #5499C7;
    }  
}

#email, #password {
    width: 80%;
    height: 3rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #A6ACAF;  
    outline: none;
    padding: 0.5rem 0 0.5rem 1rem; 
    font-size: 16px;
    display: block;
    color: #A6ACAF;
    overflow-x: auto;

}
#password {
    margin-bottom: 3rem;
}
input[type="checkbox"] {
    margin-left: 11%;
    margin-right: 0.8rem;
    transform: scale(1.5);
}

label.checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
    outline: none;
    border-radius: 1px;
}
#forgot-pwd {
        margin-left: 6.5rem;
        margin-top: 4rem;  
}
#submit {
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5rem;
    font-size: 16px;
    background-color: #34495E;
    border-radius: 5px;
    padding: 0.4rem 0;
    color: #FDFEFE;
    outline: none;
    cursor: pointer;
}
.create-account-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 2rem;
    padding: 0;
    text-align: center;
}


