.logo {
    float: left;
    font-size: 24px;
    margin: 1rem 0 0 0.8rem;
    cursor: pointer;
}

.signup {
    float: right;
    font-size: 12px;
    margin: 1rem 0.8rem 0rem 0;
    border: 1px solid #F8F9F9;
    padding: 0.4rem;
    border-radius: 8px;
    color:#F8F9F9;
    background: inherit;
    cursor: pointer;
    outline: none;
}
