
/* Globals */
*:after, *:before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/bgImage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 100%;
    position: relative;
}


/* --- HEADER ----- */
.header {
    position: relative;
    margin-bottom: 10px;
    min-height: 100px;
    width: 100%;
    border-bottom: 1px solid #fff;
    background: #282828;
}
.ball-logo-right {
    opacity: 0.1;
    width: 80px; 
    height: 80px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: right 1.5s;
}

.ball-logo-right:hover {
    right: 40px;
}
.ball-logo-left {
    opacity: 0.1;
    width: 80px; 
    height: 80px;
    position: absolute;
    left: 10px;
    top: 10px;
    transition: left 1.5s;
}

.ball-logo-left:hover {
    left: 40px;
}

#logo {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

/* ------- MAIN ----- */
.main {
    margin-bottom: 140px;
}

/* LIVE STATS */
.live-stats {
    width: 45%;
    min-height: 200px;
    background: black;
    color: #cccccc;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 0 10px 0;
    overflow: hidden;
    border-radius: 5px;
    /*offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 2px 3px rgba(22, 22, 22, 0.8);
}

#live-stats-h1 {
    background: #a3a3a3;
    color: #333333;
    margin-top: 0;
}
.score-date-api {
    color: #008000;    
}
.score-result {
    max-width: 80%;
    margin: 0 auto;
}
.live-api-score {
    list-style: none;
}
.live-api-score li {
    margin-bottom: 10px;
    border-bottom: 1px solid #a3a3a3;
    border-top: 1px solid #a3a3a3;
    padding: 6px;
    border-radius: 5px;
}
/* its inside api-score.js file */
.score-span {
    color: #db3c30;
}

/* ------ NEWS ------  */
.news {
    height: 600px;
    min-height: 200px;
    width: 90%;
    margin: 0 auto;
    background: #000;
    padding: 0 0 10px 0;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px 3px rgba(22, 22, 22, 0.8);
}

#news-h1 {
    background: #a3a3a3;
    color: #333333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.news1, .news2, .news3 {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    height: 500px;
    margin: 10px 0;
    border: 1px solid #a3a3a3;
}
.news2 {
    margin-left: 10px;
    margin-right: 10px;
}

.headline {
    height: 100px;
    overflow: auto;
    padding: 5px;
}
.descritpion {
    height: 110px;
    color: #999999;
    overflow: auto;
    padding: 5px;
}

.news-img1, .news-img2, .news-img3  {
    height: 300px;
    overflow: auto;
}
.news img {
    height: 200px;
    width: auto;
    object-fit: cover;
}

.headline1, .headline2, .headline3 {
    color: #84c184;
    font-size: 18px;
}
hr {
    color: #a3a3a3;
    width: 60%;
}

/* ------- SlIDER SECTION WRAPPER ------- */
.section-slider-wrapper {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #333333;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 2px 3px rgba(22, 22, 22, 0.8);
}

.left-aside, .right-aside {
    width: 20%;
    overflow: hidden;
    border-radius: 5px;
    vertical-align: top;
    height: 400px;
    border: 1px solid #999999;
    color: #999999;
}
.event-nop, .record-nop {
    padding: 5px;
    overflow: hidden;
    min-height: 328px;
}
/* image slider*/
.image-slider {
    width: 50%;
    background: #a3a3a3;
    overflow: hidden;
    border-radius: 5px;
    vertical-align: top;
    height: 400px;
    border: 1px solid #999999;
}

.slider-content-wrapper {
    min-height: 320px;
    height: 400px;
    float: left;
    width: 90%;
}
.current-slider-image  {
    margin-top: 10px;
    height: 360px;
}
.current-slider-image img {
    min-width: 100%;
    max-width: 100%;
    width: auto;
    /*min-height: 360px;*/
    /*height: 360px;*/
    height: 100%;
    margin: 0;
    border-radius: 5px;
}

.left-wrapper {
    height: 360px;
    float: left;
    width: 5%;
    opacity: 0;
    transition: opacity 1s;
}
.right-wrapper {
    height: 360px;
    float: right;
    width: 5%;
    opacity: 0;
    transition: opacity 1s;
}
.left-wrapper:hover, .right-wrapper:hover {
    opacity: 1;
}
.left, .right {
    background: transparent;
    border: none;
    text-decoration: none;
    outline: none;
    height: 360px;   
}
.fa-chevron-right, .fa-chevron-left {
    font-size: 30px;
    color: black;
}
/* just to use pseudo element on inline elements */
.current-slider-image span {
    font-style: italic;
}
.current-slider-image .number {
    font-weight: bold;
    color: #135a91;
}

.player-info-btn {
    padding: 1px 14px;
    border: none;
    background: #135a91;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: #a3a3a3;
    margin-left: 5px;
}

/* slider animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.1s;
 animation-name: fade;
 animation-duration: 1.1s;

} @-webkit-keyframes fade {
 from {opacity: .6}
 to {opacity: 1}
}

@keyframes fade {
from {opacity: .6}
to {opacity: 1}
}



/* ----- FOOTER ----- */
footer {
    position:fixed;
    bottom: 0px;
    width: 100%;
    color: #999999;
    min-height: 80px;
    padding: 10px;
    background: #282828;
    border-top: 1px solid #fff;
}



/* ------- MDOAL ----- */
/*.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #000;
  margin: 5% 0;  
  padding: 20px;
  border: 1px solid #888;
  width: 20%; 
}
.api-text {
    overflow: auto;
    list-style: none;
    padding: 0;
}
.api-text li:nth-child(even) {
    color: #ff9800;
}
.api-text li {
    border-bottom: 1px solid green;
}

.close {
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: green;
  text-decoration: none;
  cursor: pointer;
}*/


