:root {
    ---lightgray: #E5E7E9;
}

body {
    margin: 0;
    padding: 0;
}
.col-sm-3 , .col-sm-6 {
    /*border: 1px solid red;*/
}
.navbar-expand-lg {
    background-color: #222 !important;
    border-color: #080808 !important;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    padding: 0 4%;
    font-size: 14px;
}

.navbar-brand {
    color: gray !important;
}

/* left side */
.list-group {
    margin-bottom: 20px;
}
.list-group a:first-child {
    color: #000 !important;
    background-color: var(---lightgray) !important;
}
.btn-group .btn-secondary {
    background-color: #fff !important;
    color: gray;
}

/* center */

.col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
}

.jumbotron {
    background-color: #fff !important;
}

.pagination li {
    width: 100% !important;
}
.pagination li a {
    color: black !important;
}


hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.left-inner-container {
    border: 1px solid gray; 
    padding: 20px; 
    border-radius: 5px;
    margin-bottom: 20px;
}

/* right side */
.progress {
    margin-bottom: 15px !important;
    height: 30px !important;
}
.carousel-item img {
    height: 260px;
    width: 90px;
}

/* footer */
.card-group {
    background-color: var(---lightgray) !important;
    padding: 20px !important;
    margin: 0 !important;
}
.card-group .card:nth-child(even)  {
    margin: 0 2%;
}
.card-group .card img {
    width: 100%;
    height: 100px;
}

.bottom-footer {
    text-align: center;
    padding: 20px;
    margin: 40px 0;
    font-size: 14px;
}
.bottom-footer a {
    color: #3498DB;
}


